/* ==== 
 --------- (5) affiliate section styles start ---------
 ==== */

//  affiliate overview
.affiliate-overview {
    .affiliate-overview__content {
        h4 {
            color: $secondary-color;
            margin-bottom: 25px;
        }
        h2 {
            margin-bottom: 25px;
        }

        p {
            margin-bottom: 40px;
        }
    }
}

 /* ==== 
 --------- (5) affiliate section styles end ---------
 ==== */