/* ==== 
 --------- (5) pitch section styles start ---------
 ==== */

.pitch {
    position: relative;
    z-index: 1;
    background-attachment: fixed;

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background-color: #1e263abf;
        z-index: -1;
    }

    .pitch__content {
        h2 {
            color: $white;
            margin-bottom: 20px;
        }

        p {
            color: $white;
        }
    }
}

/* ==== 
 --------- (5) pitch section styles end ---------
 ==== */