/* ==== 
 --------- (5) works section styles start ---------
 ==== */

 .works {

    .works__tab-btns {
        display: flex;
        align-items: center;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
    }

    .works__tab-button--active {
        background-color: $secondary-color;
    }

    .works__single {
        margin-bottom: 100px;
        &:nth-last-of-type(1) {
            margin-bottom: 0px;
        }
    }

     .works__single-thumb {
         img {
             width: 100%;
             border-radius: 5px;
         }
     }

     .works__single-content {
         h1 {
             color: #11111126;
             font-weight: 900;
             margin-bottom: 15px;
         }

         h3 {
             color: $secondary-color;
             margin-bottom: 25px;
         }

         p {
             margin-bottom: 30px;
         }

         .cmn-button {
             background-color: $secondary-color;
             &:hover {
                 background-color: $primary-color;
             }
         }
     }

     .works__single--alt {
         .works__single-content {
             text-align: right;
         }
     }
 }

 /* ==== 
 --------- (5) works section styles end ---------
 ==== */